<div id="partTable">
<p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedParts()" [disabled]="!selectedParts || !selectedParts.length"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="parts" [rows]="10" [paginator]="true" [globalFilterFields]="['part_number']"
             [(selection)]="selectedParts" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="part_number">Part Number <p-sortIcon field="part_number"></p-sortIcon></th>
          <th pSortableColumn="make_buy">Make/Buy <p-sortIcon field="make_buy"></p-sortIcon></th>
          <th pSortableColumn="revision">Revision <p-sortIcon field="revision"></p-sortIcon></th>
          <th pSortableColumn="state">State <p-sortIcon field="state"></p-sortIcon></th>
          <th pSortableColumn="raw_form">Raw Form <p-sortIcon field="raw_form"></p-sortIcon></th>
          <th pSortableColumn="classification">Classification <p-sortIcon field="classification"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-part>
        <tr>
          <td>
            <p-tableCheckbox [value]="part"></p-tableCheckbox>
          </td>
          <td>{{part.name}}</td>
          <td>{{part.part_number}}</td>
          <td>{{part.make_buy}}</td>
          <td>{{part.revision}}</td>
          <td>{{part.state}}</td>
          <td>{{part.raw_form}}</td>
          <td>{{part.classification}}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="editPart(part)"
            ></button>
           <!-- <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deletePart(part)"
            ></button>-->
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{parts ? parts.length : 0 }} parts.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="partDialog" [style]="{height:'750px',width: '550px'}" header="Part Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="p-field">
        <label for="name">Part Name</label>
        <input type="text" pInputText id="name" [(ngModel)]="part.name" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !part.name">Part name is required.</small>
      </div>
      <div class="p-field">
        <label for="partnumber">Part Number</label>
        <input type="text" pInputText id="partnumber" [(ngModel)]="part.part_number" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !part.part_number">Part number is required.</small>
      </div>
      <div class="p-field">
        <label for="make_buy">Make/Buy</label>
        <p-dropdown [options]="make_buy" [(ngModel)]="part.make_buy" id="make_buy"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="raw_form">Raw Form</label>
        <p-dropdown [options]="raw_form" [(ngModel)]="part.raw_form" id="raw_form"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="classification">Classification</label>
        <p-dropdown [options]="classification" [(ngModel)]="part.classification" id="classification"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="control_type">Control Type</label>
        <p-dropdown [options]="control_type" [(ngModel)]="part.control_type" id="control_type"></p-dropdown>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePart()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
