<div class="card">
<!--<p-tabMenu [scrollable]="true" [model]="items">
  </p-tabMenu>
<router-outlet></router-outlet>-->


</div>


<div class="card p-3 shadow" >

  <nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
      <button  *appRoleBased="'Administrators'" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Part</button>
      <button *appRoleBased="'Engineering'" class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-Drawing" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Drawing</button>
      <button *appRoleBased="'Design Approver'" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-ECR" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">ECR</button>
    </div>
  </nav>
  <div class="tab-content p-3 border bg-light" id="nav-tabContent">
    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-part *appRoleBased="'Administrators'"></app-part>
    </div>
    <div class="tab-pane fade" id="nav-Drawing" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-drawing *appRoleBased="'Engineering'"></app-drawing>
    </div>
    <div class="tab-pane fade" id="nav-ECR" role="tabpanel" aria-labelledby="nav-contact-tab">
      <app-ecr *appRoleBased="'Design Approver'" ></app-ecr>
    </div>
  </div>
</div>
